# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Android/ColorOS Porting specific
out/
devices/**/*.img
devices/**/*.apk
devices/**/*.mbn
devices/**/*.elf
devices/**/*.so
devices/**/*.bin  
devices/chipset/SM8350/*  
devices/chipset/SM8450/assets/
devices/target/dm1q/patch/**
Firmware_extractor/*

!devices/**/override/**
*.log
*.img
*.bin
tmp/
temp_*/
dm1q_patch/
*:Zone.Identifier*
*.tar.md5
META-INF/
base_limpa/
*.list
*.bak3
wget-log*
roms/
build_s23/*
*.bak*

# Editor specific
.idea/
.vscode/
*.swp
*.bak
*.odex
*.vdex

# Output
output/
porting.log
*.zip
 *.tar.gz